// Theme's Palette
@import("/Users/sagarmahapatra/personal/website/sunshine/styles/palette.styl")

// User's Palette
@import("/Users/sagarmahapatra/personal/website/sunshine/example/.vuepress/styles/palette.styl")